# Dependency directories
node_modules/

# Coverage directory used by tools like istanbul
coverage/

# Configuration Files And SSL keys
keys/
.env
.coveralls.yml
.travis.yml
secrets.tar

# Coverage output
.nyc_output

# IDE
.idea
